In [1]:
%matplotlib inline

In [2]:
import pandas as pd

# Inputs

## JTW data

In [3]:
jtw_filepath = r'D:\Users\Work\OneDrive - Transport Systems Catapult\Modelling\Modelling Data\Census\JTW\wu03ew_v2\wu03ew_v2.csv'

In [4]:
jtw = pd.read_csv(jtw_filepath)

In [8]:
jtw.set_index(list(jtw.columns[0:2]) , inplace=True)
jtw.index.rename(['Residence', 'Workplace'], level=[0,1], inplace=True)

jtw.drop(jtw.columns[0], axis=1, inplace=True)

modes = ['From_home', 'Tube', 'Train', 'Bus', 'Taxi', 'Motorbike', 'Car_driver', 'Car_pas', 'Cycle', 'Foot', 'Other']
d = dict(zip(jtw.columns.values, modes))
jtw.rename(columns=d, inplace=True)
jtw.columns.name = 'Mode'
jtw = jtw.stack()
jtw.name = 'Trips'

# Convert Mode to category
jtw = jtw.reset_index()
jtw.Mode = jtw.Mode.astype('category')

jtw.set_index(list(jtw.columns[0:3]), inplace=True)
jtw.head()

                               Trips
Residence Workplace Mode
E02000001 E02000001 From_home      0
                    Tube          73
                    Train         41
                    Bus           32
                    Taxi           9

## Lookups

In [9]:
lookup = {}

In [10]:
lookup_OA_filepath = r'D:\Users\work\OneDrive - Transport Systems Catapult\Modelling\Modelling Data\GIS\Boundaries\Lookups\OA\OA11_LSOA11_MSOA11_LAD11_EW_LUv2.csv'

In [11]:
lookup_master = pd.read_csv(lookup_OA_filepath, encoding='ISO-8859-1')

C:\Users\Work\Miniconda3\envs\py3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)